<!doctype html>
{% load static %}
<html lang="en">
  <head>
  	<title>Sign Up 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'signupstyle/css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container"   >
			<div class="row justify-content-center" style="margin-top:-60px" >
				<div class="col-md-6 text-center mb-5" >
					<h2 class="heading-section">Login</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5" >
					<div class="login-wrap">
		      	<div class="img" style="background-image: url({% static 'signupstyle/images/bg.jpg' %});"></div>
		      	<h3 class="text-center mb-4">Login</h3>
						<form method="post" action="{% url 'user_login' %}" class="signup-form">
						{% csrf_token %}
		      		<div class="form-group mb-3">
		      			<input type="text" class="form-control" placeholder="Username" name="uname" required>
		      		</div>
	            <div class="form-group mb-3">
	              <input id="password-field" type="password" class="form-control" placeholder="Password" name="pass" required>
<!--	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>-->
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Login</button>
	            </div>
							<a href="{% url 'signup' %}"> Don't have an account..!    <b>Signup</b></a>
	          </form>
<!--	          <p>I'm already a member! <a href="#">Sign In</a></p>-->
	        </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'signupstyle/js/jquery.min.js' %}"></script>
  <script src="{% static 'signupstyle/js/popper.js' %}"></script>
  <script src="{% static 'signupstyle/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'signupstyle/js/main.js' %}"></script>
     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        {% if messages %}
        {% for i in messages %}

            {% if i.tags == 'warning' %}
        <script>
            swal('{{i}}', '', 'warning');
        </script>

        {% elif i.tags == 'error' %}
        <script>
            swal('{{i}}','','error');
        </script>

        {% elif i.tags == 'info' %}
        <script>
            swal('{{i}}','','info');
        </script>

         {% else %}
        <script>
            swal('{{i}}','','success');
        </script>
        {% endif %}
        {% endfor %}
{% endif %}
	</body>
</html>

